@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-o-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@-webkit-keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@-o-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@-moz-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}
@-webkit-keyframes fadeOut {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

@keyframes fadeDown {
	0% { opacity: 0; margin-top: -72px; }
	100% { opacity: 1; margin-top: 0; }
}
@-o-keyframes fadeDown {
	0% { opacity: 0; margin-top: -72px; }
	100% { opacity: 1; margin-top: 0; }
}
@-moz-keyframes fadeDown {
	0% { opacity: 0; margin-top: -72px; }
	100% { opacity: 1; margin-top: 0; }
}
@-webkit-keyframes fadeDown {
	0% { opacity: 0; margin-top: -72px; }
	100% { opacity: 1; margin-top: 0; }
}

@keyframes fadeUp {
	0% { opacity: 1; margin-top: 0; }
	100% { opacity: 0; margin-top: -72px; }
}
@-o-keyframes fadeUp {
	0% { opacity: 1; margin-top: 0; }
	100% { opacity: 0; margin-top: -72px; }
}
@-moz-keyframes fadeUp {
	0% { opacity: 1; margin-top: 0; }
	100% { opacity: 0; margin-top: -72px; }
}
@-webkit-keyframes fadeUp {
	0% { opacity: 1; margin-top: 0; }
	100% { opacity: 0; margin-top: -72px; }
}

@-webkit-keyframes selected {
	0% {
		box-shadow: 0 1px 3px #000;
		transform: rotateY(0deg);
		-o-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-webkit-transform: rotateY(0deg);
	}
	100% {
		box-shadow: 0 10px 32px #000;
		transform: rotateY(360deg);
		-o-transform: rotateY(360deg);
		-ms-transform: rotateY(360deg);
		-moz-transform: rotateY(360deg);
		-webkit-transform: rotateY(360deg);
	}
}