@mixin box-sizing($type) {
	box-sizing: $type;
	-o-box-sizing: $type;
	-moz-box-sizing: $type;
	-webkit-box-sizing: $type;
}

@mixin transition($properties: all, $duration: 0.2s) {
	transition-property: $properties;
	-o-transition-property: $properties;
	-moz-transition-property: $properties;
	-webkit-transition-property: $properties;
	transition-duration: $duration;
	-o-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-webkit-transition-duration: $duration;
}

@mixin animation($properties) {
	animation: $properties;
	-o-animation: $properties;
	-moz-animation: $properties;
	-webkit-animation: $properties;
}