<div class="mcp-modal">
	<header class="mcp-modal-header">
		<h3>Choose a Color</h3>
		<i>X</i>
	</header>
	<section class="mcp-modal-body">
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: ;">None</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #a4c400;">Lime</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #60a917;">Green</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #008a00;">Emerald</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #00aba9;">Teal</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #00aff0;">Blue</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #1ba1e2;">Cyan</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #0050ef;">Cobalt</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #6a00ff;">Indigo</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #aa00ff;">Violet</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #dc4fad;">Pink</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #d80073;">Magenta</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #a20025;">Crimson</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #ce352c;">Red</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #fa6800;">Orange</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #f0a30a;">Amber</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #e3c800;">Yellow</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #825a2c;">Brown</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #6d8764;">Olive</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #647687;">Steel</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #76608a;">Mauve</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #87794e;">Taupe</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #555555;">Gray</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #333333;">Dark</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #222222;">Darker</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #63362f;">Dark Brown</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #640024;">Dark Crimson</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #81003c;">Dark Magenta</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #4b0096;">Dark Indigo</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #1b6eae;">Dark Cyan</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #00356a;">Dark Cobalt</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #004050;">Dark Teal</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #003e00;">Dark Emerald</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #128023;">Dark Green</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #bf5a15;">Dark Orange</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #9a1616;">Dark Red</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #9a165a;">Dark Pink</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #57169a;">Dark Violet</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #16499a;">Dark Blue</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #4390df;">Light Blue</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #da5a53;">Light Red</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #7ad61d;">Light Green</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #00ccff;">Lighter Blue</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #45fffd;">Light Teal</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #78aa1c;">Light Olive</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #c29008;">Light Orange</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #f472d0;">Light Pink</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #999999;">Gray Light</div></div>
		<div class="mcp-tile-container"><div class="mcp-color-tile" style="background-color: #eeeeee;">Gray Lighter</div></div>
	</section>
</div>