.mcp-modal {
	width: 90%;
	height: 90%;
	background: white;
	border-radius: 10px;
	position: fixed;
	top: 5%;
	left: 5%;
	z-index: 11;
	box-shadow: 0 0 10px #000;
	opacity: 0;
	@include animation(fadeDown 0.5s forwards);

	&.mcp-closed {
		@include animation(fadeUp 0.5s forwards);
	}

	.mcp-modal-header {
		background: #00a6ef;
		padding: 20px;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
		box-shadow: 0 1px 1px #666;
		overflow: hidden;
		@include box-sizing(border-box);

		h3 {
			float: left;
			color: white;
			font-family: sans-serif;
			margin: 0; padding: 0;
		}

		i {
			cursor: pointer;
			color: white;
			font-family: sans-serif;
			font-weight: bold;
			float: right;
		}

	}

	.mcp-modal-body {
		padding: 10px;
		overflow: auto;
		position: absolute;
		top: 62px;
		right: 0;
		bottom: 0;
		left: 0;
		@include box-sizing(border-box);
		.mcp-tile-container {
			width: 16.66%;
			float: left;
			padding: 20px;
			@include box-sizing(border-box);
			.mcp-color-tile {
				cursor: pointer;
				width: 100%;
				height: 0;
				padding-bottom: 56.25%;
				box-shadow: 0 1px 3px #000;
				padding-top: 10px;
				padding-left: 10px;
				color: white;
				font-family: sans-serif;
				text-shadow: 1px 1px 1px #000;
				opacity: 1;
				@include transition((box-shadow, opacity));
				&:hover {
					box-shadow: 0 10px 32px #000;
				}
				&.mcp-selected {
					@include animation(selected 1s forwards);
				}
				&.mcp-disabled {
					opacity: 0.5;
					box-shadow: 0 1px 3px #000 !important;
				}
			}
		}
	}

}