.mcp-shade {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(#000, 0.8);
	opacity: 0;
	@include animation(fadeIn 0.2s forwards);

	&.mcp-closed {
		@include animation(fadeOut 0.2s forwards);
	}

}